td,
tr,
th {
    border: 1px solid black;
}


body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Italic;
    background-color: aqua;
    animation: fadeIn 0.6s ease-in-out;

}


@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(-30px); */
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@font-face {
    font-family: Italic;
    src: url(./Assets/fonts/OpenSans-Italic.ttf);
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#firstDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 250px;
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgb(114, 106, 106);
}

#firstDiv:hover {
    box-shadow: 5px 5px 5px rgb(0, 60, 255);

}

#divResponse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#regionTable {
    width: 300px;
}


#info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    /* border: 1px solid #000; */
    padding: 5px;
}

.footer {
    font-size: 20px;
}

.footerLink {
    color: #000;
}

#divRegionTable,
#table {
    border-radius: 5px;
}

.mainHeader {
    box-shadow: 5px 5px 5px rgb(152, 140, 140);
    border-radius: 10px;

}

.mainHeader:hover,
button:hover {
    box-shadow: 5px 5px 5px rgb(149, 175, 188);
}

input {
    border-radius: 10px;
}

input:focus {
    background-color: rgba(207, 204, 211, 0.467);
}

